<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/hazelcast-sample.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/hazelcast-sample.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} [%X{txid}]- %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.hazelcast" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="FileLog" />
	</logger>
	<logger name="org.spring" additivity="false">
		<appender-ref ref="FileLog" />
		<level value="INFO" />
	</logger>
	<logger name="com.dersommer" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="FileLog" />
		<appender-ref ref="stdout" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="FileLog" />
		<appender-ref ref="stdout" />
	</root>
</configuration>